* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

a {
  text-decoration: none;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.main-visual-1 {
  height: 200px;
  background-image: url(img-2/box1.jpg);
  background-size: cover;
  background-position: center;
}

.main-visual-2 {
  height: 200px;
  background-image: url(img-2/box2.jpg);
  background-size: cover;
  background-position: center;
}

.main-visual-3 {
  height: 200px;
  background-image: url(img-2/box3.jpg);
  background-size: cover;
  background-position: center;
}

.main-visual-4 {
  height: 200px;
  background-image: url(img-2/box4.jpg);
  background-size: cover;
  background-position: center;
}